$btnFont:  'Poppins', sans-serif;
$subTitleFont: 'Yantramanav', sans-serif;
 
 .owl-carousel .item .card .card-img-top{
    // padding: 5px;
    transition: 0.5s ease;
    cursor: pointer;
}

.owl-carousel .item .card:hover img{
    transform: scale(.9);
}


.item .card .card-body :hover{
    transform: scale(1.1);
}

.product-preview{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}

.product-preview .preview{
    display: none;
    padding: 2rem;
    text-align: center;
    background: white;
    position: relative;
    margin: 2rem;
    // margin-left: 35rem;
    // margin-right: 10rem;
    width: 30rem;
    border-radius: 10px;
}

.product-preview .preview.active{
    display: inline-block;
}

.product-preview .preview img{
    height: 20rem;
    width: 20rem;
    margin-bottom: 5px;
    border-radius: 20pxs;
}

.product-preview .preview .description{
    height: min-content;
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    text-align: justify;
    text-justify: inter-word;
}

.product-preview .preview .fa-times{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
   font-size: 3rem;
   transition: 0.6s ease;
}

.product-preview .preview .fa-times:hover{
    transform: rotate(90deg);
}

.product-preview .preview .buttons{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
    
}

.product-preview .preview .buttons a{
    flex: 1 2 1rem;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    padding: 1rem;
    border-radius: 10px;
    
}

.product-preview .preview .buttons a.buy{
    background-color: blue;
    color: white;
    font-family: $btnFont;
}

.product-preview .preview .buttons a.cart{
    background-color: orange;
    color: black;
    font-family: $btnFont;
}

.product-preview .preview h3{
font-family: $subTitleFont;
font-size: 1.5rem;
font-weight: bold;
}
.preview .description{
    font-family: $subTitleFont;
    font-size: 1rem;
    padding-top: 5px;
}

.preview .description p{
    margin-top: 10px;
}

.preview .price{
    font-family: $btnFont;
   font-weight: bold;
    font-size: 1.2rem;
}