$btnFont:  'Poppins', sans-serif;
$subTitleFont: 'Yantramanav', sans-serif;
$TitleFont:  'Ubuntu', sans-serif;

//nav-bar
#navbar-bg {
    background-color: yellow;
    box-shadow: 0px -9px 4px 10px black;
    border-bottom: 4px solid white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
  }
  
  #brandLogo {
    font-size: 25px;
    color: black;
    text-shadow: 1px 1px 1px black;
    font-family: "Ubuntu", sans-serif;
    margin-left: 30px;
  }
  
  #brandLogo img {
    margin-bottom: 10px;
  }
  
  #brandLogo span {
    color: red;
  }
  
  .navbar-nav {
    margin-left: 100px;
  }
  
  .nav-link {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    margin-left: 10px;
    transition: 0.6s ease;
  }
  
  .nav-link:hover {
    background-color: red;
    color: white;
    border-radius: 5px;
  }
  #btn{
    display: flex;
    gap: 5px;
  }
  #btn a {
    text-decoration: none;
    gap: 10px;
  }
  
  #btn button {
    width: 120px;
    height: 30px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    background: none;
    border-radius: 5px;
    border-radius: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
  }
  
  // #btn .fas {
  //   margin-left: 5px;
  //   color: black;
  //   margin-right: 25px;
  // }
  #btn {
.fas{
  color: black;
}
  .shopcart{
    display: flex;
    align-items: center;
  }
}
  #btn button:hover {
    background-color: red;
    color: white;
  }
  
  #btn .fas:hover {
    color: red;

  }
  .navbar-collapse  {
    display: flex;
    justify-content: space-between;
  }

  .navbar-toggler{
    .navbar-toggler-icon{
      color: black;
    }
  }

  // navbar end

  #main-bg{
    background-color: maroon;
    min-height: 100vh;
    width: 100%;
  }

  //carousel

  .carousel-item{
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .carousel-indicators{
    margin-top: 15000px;
  }

h1{
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-shadow: -2px 3px 2px black;
  color: white;
  span{
    color: yellow;
  }
}
//delivery

.delivery{
  .card-body{
    margin-left: 26px;
    h2{
      font-family: $TitleFont;
      margin-top: 25px;
    }
    p{
      font-family: $TitleFont;
      margin-top: 20px;
      font-size: 1rem;
    }
    h4{
      font-family: $btnFont;
      margin-top: 15px;
      font-size: 1.5rem;
    }
    img{
      margin-left: 20px;
    }
  }
}

//reward
.rewards{
  p{
    font-family: $TitleFont;
    font-size: 1.2rem;
    margin: 80px 0;
  }
}
  //footer
  .footer {
    color: black;
    font-size: 14px;
    background-color: yellow;
    border-top: 4px solid white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
  }
  
  .footer .footer-top {
    padding: 30px;
  }
  
  .footer .footer-top .footer-contact h4 {
    font-family: "Ubuntu", sans-serif;
  }
  
  .footer-contact .footer-logo {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .footer-contact .footer-logo h4 {
    margin-left: 10px;
  }
  
  .footer .footer-top .footer-contact p {
    font-family: "Yantramanav", sans-serif;
  }
  
  .footer .footer-top .footer-links h4 {
    font-family: "Ubuntu", sans-serif;
  }
  
  .footer-links ul li {
    list-style: none;
    font-family: "Yantramanav", sans-serif;
    margin-top: 5px;
  }
  
  .footer-links ul li a {
    text-decoration: none;
    font-family: "Yantramanav", sans-serif;
    color: black;
    border-radius: 5px;
    transition: 0.5s ease;
  }
  
  .footer-links ul li a:hover {
    font-weight: bold;
    background-color: red;
    padding: 0 10px;
    color: white;
  }
  
  .footer-links ul li a i {
    margin-left: 10px;
  }
  
  .footer-social h4 {
    font-family: "Ubuntu", sans-serif;
  }
  
  .social-media h4 {
    margin-top: 15px;
  }
  
  .footer-social .input-group .btn {
    font-family: "Poppins", sans-serif;
    background-color: red;
    color: white;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
  }
  
  .footer-social .input-group input {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    font-family: "Yantramanav", sans-serif;
  }
  
  .footer-social .social-media a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: red;
    color: white;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
  }
  
 .copyrigth {
    background-color: maroon;
  }
  
  .copyrigthWrapper .copyrigth {
    font-family: "Yantramanav", sans-serif;
    color: white;
  }
  
  .copyrigthWrapper .copyrigth span {
    font-weight: bold;
    color: yellow;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .arrow {
    position: fixed;
    height: 60px;
    bottom: 40px;
    right: 50px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.6;
  }
  
  .arrow:hover {
    opacity: 1;
  }

  //scss links
body{
  background-color: maroon;
}
  @import 'media';
  @import 'products';
  @import 'about';
  @import 'contact';