#navbar-bg {
  background-color: yellow;
  box-shadow: 0px -9px 4px 10px black;
  border-bottom: 4px solid white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

#brandLogo {
  font-size: 25px;
  color: black;
  text-shadow: 1px 1px 1px black;
  font-family: "Ubuntu", sans-serif;
  margin-left: 30px;
}

#brandLogo img {
  margin-bottom: 10px;
}

#brandLogo span {
  color: red;
}

.navbar-nav {
  margin-left: 100px;
}

.nav-link {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 10px;
  transition: 0.6s ease;
}

.nav-link:hover {
  background-color: red;
  color: white;
  border-radius: 5px;
}

#btn {
  display: flex;
  gap: 5px;
}

#btn a {
  text-decoration: none;
  gap: 10px;
}

#btn button {
  width: 120px;
  height: 30px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background: none;
  border-radius: 5px;
  border-radius: 1px solid black;
  transition: 0.5s ease;
  cursor: pointer;
}

#btn .fas {
  color: black;
}
#btn .shopcart {
  display: flex;
  align-items: center;
}

#btn button:hover {
  background-color: red;
  color: white;
}

#btn .fas:hover {
  color: red;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
}

.navbar-toggler .navbar-toggler-icon {
  color: black;
}

#main-bg {
  background-color: maroon;
  min-height: 100vh;
  width: 100%;
}

.carousel-item {
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.carousel-indicators {
  margin-top: 15000px;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-shadow: -2px 3px 2px black;
  color: white;
}
h1 span {
  color: yellow;
}

.delivery .card-body {
  margin-left: 26px;
}
.delivery .card-body h2 {
  font-family: "Ubuntu", sans-serif;
  margin-top: 25px;
}
.delivery .card-body p {
  font-family: "Ubuntu", sans-serif;
  margin-top: 20px;
  font-size: 1rem;
}
.delivery .card-body h4 {
  font-family: "Poppins", sans-serif;
  margin-top: 15px;
  font-size: 1.5rem;
}
.delivery .card-body img {
  margin-left: 20px;
}

.rewards p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  margin: 80px 0;
}

.footer {
  color: black;
  font-size: 14px;
  background-color: yellow;
  border-top: 4px solid white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 50px;
}

.footer .footer-top {
  padding: 30px;
}

.footer .footer-top .footer-contact h4 {
  font-family: "Ubuntu", sans-serif;
}

.footer-contact .footer-logo {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 5px;
}

.footer-contact .footer-logo h4 {
  margin-left: 10px;
}

.footer .footer-top .footer-contact p {
  font-family: "Yantramanav", sans-serif;
}

.footer .footer-top .footer-links h4 {
  font-family: "Ubuntu", sans-serif;
}

.footer-links ul li {
  list-style: none;
  font-family: "Yantramanav", sans-serif;
  margin-top: 5px;
}

.footer-links ul li a {
  text-decoration: none;
  font-family: "Yantramanav", sans-serif;
  color: black;
  border-radius: 5px;
  transition: 0.5s ease;
}

.footer-links ul li a:hover {
  font-weight: bold;
  background-color: red;
  padding: 0 10px;
  color: white;
}

.footer-links ul li a i {
  margin-left: 10px;
}

.footer-social h4 {
  font-family: "Ubuntu", sans-serif;
}

.social-media h4 {
  margin-top: 15px;
}

.footer-social .input-group .btn {
  font-family: "Poppins", sans-serif;
  background-color: red;
  color: white;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.footer-social .input-group input {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  font-family: "Yantramanav", sans-serif;
}

.footer-social .social-media a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: red;
  color: white;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

.copyrigth {
  background-color: maroon;
}

.copyrigthWrapper .copyrigth {
  font-family: "Yantramanav", sans-serif;
  color: white;
}

.copyrigthWrapper .copyrigth span {
  font-weight: bold;
  color: yellow;
}

html {
  scroll-behavior: smooth;
}

.arrow {
  position: fixed;
  height: 60px;
  bottom: 40px;
  right: 50px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.6;
}

.arrow:hover {
  opacity: 1;
}

body {
  background-color: maroon;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #brandLogo {
    font-size: 1rem;
  }
  .navbar-toggler span {
    font-size: 1rem;
  }
  .navbar-collapse {
    display: block;
  }
  .navbar-collapse ul {
    margin-left: 0;
  }
  .navbar-collapse li {
    display: flex;
  }
  .navbar-collapse li a {
    display: block;
    font-size: 1rem;
    padding: 5 10px;
  }
  .carousel-item {
    margin-top: 75px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .navbar-collapse {
    display: block;
  }
  .navbar-collapse ul {
    margin-left: 0;
  }
  .navbar-collapse li {
    display: flex;
  }
  .navbar-collapse li a {
    display: block;
    font-size: 1rem;
    padding: 5 10px;
  }
  .carousel-item {
    margin-top: 75px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar-collapse .navbar-nav {
    margin-left: 20px;
  }
  .navbar-collapse a {
    font-size: 0.8rem;
    margin-right: 5px;
  }
  .navbar-collapse #btn {
    display: block;
    gap: 5px;
  }
  .navbar-collapse #btn button {
    height: 1.5rem;
    font-size: 0.8rem;
    width: 4.8rem;
  }
  .navbar-collapse #btn .shopcart {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
  .carousel-item {
    margin-top: 75px;
  }
  #feturedProducts h5 {
    font-size: 14px;
  }
  #feturedProducts .card-footer .btn {
    font-size: 12px;
  }
  .owl-carousel h5 {
    font-size: 14px;
  }
  .owl-carousel .card-footer {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .owl-carousel .card-footer .btn {
    font-size: 12px;
  }
  .owl-carousel .card-footer .btn-primary {
    width: 100%;
  }
  .owl-carousel .card-footer .btn-warning {
    width: 100%;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .navbar-collapse .navbar-nav {
    justify-content: space-evenly;
  }
  .navbar-collapse a {
    font-size: 1rem;
    margin-right: 20px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .navbar-collapse #btn button {
    margin-top: 5px;
  }
  .navbar-collapse #btn .fas {
    margin-left: 50px;
  }
  .carousel-item {
    margin-top: 75px;
  }
  #feturedProducts h5 {
    font-size: 14px;
  }
  #feturedProducts .card-footer .btn {
    font-size: 12px;
  }
  .owl-carousel h5 {
    font-size: 14px;
  }
  .owl-carousel .card-footer {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .owl-carousel .card-footer .btn {
    font-size: 12px;
  }
  .owl-carousel .card-footer .btn-primary {
    width: 100%;
  }
  .owl-carousel .card-footer .btn-warning {
    width: 100%;
  }
}
.owl-carousel .item .card .card-img-top {
  transition: 0.5s ease;
  cursor: pointer;
}

.owl-carousel .item .card:hover img {
  transform: scale(0.9);
}

.item .card .card-body :hover {
  transform: scale(1.1);
}

.product-preview {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.product-preview .preview {
  display: none;
  padding: 2rem;
  text-align: center;
  background: white;
  position: relative;
  margin: 2rem;
  width: 30rem;
  border-radius: 10px;
}

.product-preview .preview.active {
  display: inline-block;
}

.product-preview .preview img {
  height: 20rem;
  width: 20rem;
  margin-bottom: 5px;
  border-radius: 20pxs;
}

.product-preview .preview .description {
  height: min-content;
  width: 100%;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  text-align: justify;
  text-justify: inter-word;
}

.product-preview .preview .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 3rem;
  transition: 0.6s ease;
}

.product-preview .preview .fa-times:hover {
  transform: rotate(90deg);
}

.product-preview .preview .buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.product-preview .preview .buttons a {
  flex: 1 2 1rem;
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  padding: 1rem;
  border-radius: 10px;
}

.product-preview .preview .buttons a.buy {
  background-color: blue;
  color: white;
  font-family: "Poppins", sans-serif;
}

.product-preview .preview .buttons a.cart {
  background-color: orange;
  color: black;
  font-family: "Poppins", sans-serif;
}

.product-preview .preview h3 {
  font-family: "Yantramanav", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.preview .description {
  font-family: "Yantramanav", sans-serif;
  font-size: 1rem;
  padding-top: 5px;
}

.preview .description p {
  margin-top: 10px;
}

.preview .price {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.About {
  background-color: white;
}
.About #about {
  margin-bottom: 50px;
  height: min-content;
  padding-top: 7.5rem;
  padding-bottom: 5rem;
}
.About #about .card {
  border: none;
  gap: 10;
}
.About #about .card h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
}
.About #about .card p {
  margin-left: 30px;
  margin-top: 10px;
  text-align: justify;
  font-family: "Yantramanav", sans-serif;
  font-weight: 1.3rem;
}
.About #about .card p .brand {
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}
.About #about .card p span {
  font-weight: bold;
}

.testimonial {
  background-color: yellow;
}

#testimonial {
  min-height: 100vh;
  padding: 50px;
}
#testimonial h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}
#testimonial h1 .span1 {
  color: red;
}
#testimonial h1 .span2 {
  text-transform: lowercase;
}
#testimonial h5 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
#testimonial p {
  font-family: "Yantramanav", sans-serif;
  text-align: justify;
}
#testimonial i {
  font-size: 1.3rem;
}

.contactUs {
  height: min-content;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 50px;
}

.titleHead h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  color: red;
}

.titleHead p {
  font-family: "Yantramanav", sans-serif;
  font-size: 1.2rem;
}

.messageWrapper {
  background-color: whitesmoke;
  padding: 20px;
}

.contactUs .container {
  margin-top: 150px;
}

.messageWrapper .titleHead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formWrapper .formWrap {
  height: min-content;
  width: 40%;
  padding: 10px;
}

.formWrapper .contactWrap {
  height: min-content;
  width: 60%;
  background-color: whitesmoke;
  padding: 40px;
  margin-left: 20px;
  border: 2px solid gray;
  border-radius: 10px;
}

.formWrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: "Yantramanav", sans-serif;
  font-weight: bold;
}

.formWrap .email {
  display: flex;
  justify-items: center;
  padding: 15px;
  justify-content: space-around;
}

.email .emailLogo img {
  width: 80px;
}

.formWrap .email .emailContent {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

#contact_Us {
  padding-left: 30px;
}
#contact_Us .card {
  border: none;
}/*# sourceMappingURL=index.css.map */